.home {
  section {
    margin: 150px 0;
  }

  &__video {
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    @media #{$mq-mobile} {
      padding-top: 75px;
    }

    iframe {
      width: 100%;
      aspect-ratio: 560/315;
      z-index: 1;

      @media #{$mq-mobile} {
        display: none;
      }
    }

    img {
      display: none;

      @media #{$mq-mobile} {
        display: inherit;
        width: 100%;
      }
    }

    &_efeito {
      z-index: 2;
      position: relative;
      margin-top: -400px;
      width: 100%;
      height: 400px;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 1) 80%
      );

      @media #{$mq-mobile} {
        margin-top: -50px;
        height: 50px;
      }
    }
  }

  &__introducao {
    margin-top: 0 !important;

    .conteudo {
      gap: 50px;
    }

    &_info {
      width: 100%;
      @include flex(center, center, column);

      h2,
      h3 {
        width: 100%;
      }

      &_texto {
        @include text-overflow(8);
      }

      .button {
        width: 40%;
        margin-top: 50px;
      }
    }

    &_img {
      width: 100%;

      img {
        max-height: 500px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;

        @media #{$mq-mobile} {
          max-height: 200px;
        }
      }
    }
  }

  &__destaque {
    // background: linear-gradient($gradiente);
    background-color: #00000056;
    padding: 80px 0;

    @media #{$mq-mobile} {
      padding: 40px 0;
    }

    .conteudo {
      gap: 10px;
    }

    &_img {
      width: 55%;

      @media #{$mq-mobile} {
        width: 100%;
      }

      img {
        max-height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    &_info {
      width: 45%;
      @include flex(center, center, column);

      @media #{$mq-mobile} {
        width: 100%;
      }

      h2,
      h3 {
        width: 100%;
      }

      &_texto {
        @include text-overflow(3);

        @media #{$mq-mobile} {
          -webkit-line-clamp: 5;
        }
      }

      .button {
        width: 40%;
        margin-top: 50px;
      }
    }
  }

  &__regioes {
    width: 100%;

    &_carrossel {
      width: 100%;
    }

    &_item {
      @include flex(space-between, center);
      gap: 32px;

      @media #{$mq-mobile} {
        flex-direction: column;
      }

      h2 {
        width: 100%;
        border-bottom: 1px solid $preto;
      }

      h3 {
        width: 100%;
      }
    }

    &_info {
      width: 40%;

      @include flex(center, center, column);
      gap: 80px;

      @media #{$mq-mobile} {
        width: 100%;
        gap: 20px;
      }

      &_texto {
        @include text-overflow(6);

        @media #{$mq-mobile} {
          -webkit-line-clamp: 3;
        }
      }
    }

    &_img {
      width: 60%;

      @include flex(center, flex-start);
      gap: 10px;

      @media #{$mq-mobile} {
        width: 100%;
      }

      img {
        border-radius: 5px;
        width: calc(50% - 5px);
        aspect-ratio: 6/7;
        object-fit: cover;
      }
    }

    .splide__pagination {
      bottom: -100px;
      @include flex(center, center);
      gap: 35px;
      @media #{$mq-mobile} {
        gap: 10px;
      }

      &__page {
        width: 110px;
        height: 10px;
        border-radius: 10px;

        @media #{$mq-mobile} {
          width: 30px;
          height: 20px;
        }

        &.is-active {
          transform: none;
          background-color: $preto;
        }
      }
    }
  }

  &__intoducao,
  &__destaque,
  &__regioes {
    .button {
      min-width: 310px;
      min-height: 40px;

      @media #{$mq-mobile} {
        min-width: 0;
      }
    }
  }
}
