$verde: #16b83e;
$amarelo: #ffe11f;
$azul: #1651b8;
$azul2: #092e6e;
$branco: #fff;
$preto: #000;

$gradiente: 157deg, $azul 0%, $verde 50%, $amarelo 100%;

$fonte-padrao: "Source Sans Pro", sans-serif;
$fonte-destaque: "Josefin Sans", sans-serif;

$font-size-padrao: 20px;

$mq-mobile: "(max-width: 768px)";
$mq-tablet: "(max-width: 1199px)";
$mq-notebook: "(max-width: 1366px)";
$mq-desktop: "(max-width: 1920px)";
