<div class="header__topo">
  <div class="conteudo">
    <a href="/turismo-brasil/" class="header__logo">
      <div class="brasil-flag">
        <div class="losangue"></div>
        <div class="circle"></div>
      </div>
      <h1>Brasil</h1>
    </a>
    <div class="header__menu-mobile">
      <i class="material-symbols-outlined"> menu </i>
    </div>
  </div>
</div>
<div class="header__menu">
  <div class="conteudo">
    <nav>
      <ul class="header__menu_links">
        <li id="home">
          <a href="/turismo-brasil/">Home</a>
        </li>
        <li id="cultura">
          <a href="/turismo-brasil/cultura.html">Cultura</a>
        </li>
        <li id="culinaria">
          <a href="/turismo-brasil/culinaria.html">Culinária</a>
        </li>
        <li id="pontos-turisticos">
          <a href="/turismo-brasil/pontos-turisticos.html">Pontos Turísticos</a>
        </li>
      </ul>
      <div class="header__menu_conversao">
        <button id="botaoModalConversao" class="button">
          Conversão de moeda
        </button>
      </div>
    </nav>
  </div>
</div>
